.box__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.p{
    color: white;
}

.loading__Icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}